html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,h3,h3,p{
  margin: 0;
}
body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Space Mono";
  height: 100%;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
