.about {
  padding-top: 160px;
  position: relative;
}
.about::after {
  content: "";
  width: 974px;
  height: 15px;
  background-color: #e5ecf4;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 208px;
  z-index: -1;
}
.about__container {
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}
.about__locate {
  width: 350px;
}
.about__locate::before {
  content: "";
  width: 96px;
  height: 96px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../../img/aboutIKon.svg);
  margin-bottom: 40px;
}
.about__title {
  color: #495567;
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
letter-spacing: -1.071px;
width: 350px;
}
.about__text {
  color: #939CAA;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    width: 445px;
    margin-bottom: 40px;
    width: 350px;
}

