.footer{
    padding: 36px 0px;
    background-color: #333A44;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav{
    display: flex;
    align-items: center;
    gap: 58px;
}
.footer__list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer__link{
    @include link;
    cursor: pointer;
}
.footer__ikons{
    cursor: pointer;
}